<!-- <div class="container">
  <div class="row">
    <div class="col col-8"></div>
    <div class="col col-4">
      <div class="row">
        <div class="col-12">
          <div class="intro">
            <h2>Introduction</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
              laudantium iste perferendis itaque officiis cupiditate magni dolor
              inventore tenetur sit! Sapiente laudantium ex, atque illo nobis
              cumque delectus, incidunt nostrum expedita deleniti fugiat
              exercitationem quibusdam saepe. Asperiores deleniti tempora quod.
            </p>
          </div>
        </div>
        <div class="col-12">
          <form class="intro-form">
            <div class="form-group">
              <label for="InputActivity">Activity:</label>
              <input
                type="text"
                class="form-control"
                id="InputActivity"
                placeholder="Enter your activity here"
              />
            </div>

            <div class="form-group">
              <label for="InputSub-Activity">Sub-Activity:</label>
              <input
                type="text"
                class="form-control"
                id="InputSub-Activity"
                placeholder="Enter your sub-activity here"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<h1>Home Works!</h1>